In [12]:
import pandas as pd
import numpy as np

pd.read_csv(
    "https://gml.noaa.gov/webdata/ccgg/trends/co2/co2_mm_gl.txt",
    sep="\t",
    comment="#"
    # names=["year", "month", "decimal", "average", "average_unc", "trend", "trend_unc"]
)

      1979       1      1979.042        336.56          0.11        335.92          0.09
0      1979       2      1979.125        337.29    ...
1      1979       3      1979.208        337.88    ...
2      1979       4      1979.292        338.32    ...
3      1979       5      1979.375        338.26    ...
4      1979       6      1979.458        337.38    ...
..                                                 ...
530    2023       4      2023.292        420.55    ...
531    2023       5      2023.375        420.55    ...
532    2023       6      2023.458        419.53    ...
533    2023       7      2023.542        417.83    ...
534    2023       8      2023.625        416.59    ...

[535 rows x 1 columns]